@charset "UTF-8";

/*----------------------
        メディアクエリ
  ---------------------*/
$pc: 980px; // PC
$tab: 680px; // タブレット
$sp: 375px;  // スマホ

@mixin pc {
  @media (min-width: ($pc)) {
    @content;
  }
}

@mixin tab {
  @media (min-width: ($tab)) {
    @content;
  }
}

@mixin sp {
  @media (min-width: ($sp)) {
    @content;
  }
}
/*---------------------------
  テキストカラー
----------------------------*/
$text : #262222;

/*---------------------------
  共通
----------------------------*/
*{
  margin: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  color: $text;
  display: flex;
  font-size: 1.6rem;
  font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
  flex-direction: column;
  height: 100wh;
}
main{
  flex: 1;
}

ul{
  padding-left: 0;
  li{
    list-style: none;
  }
}
a{
  text-decoration: none;
  color: $text;
}

section{
  text-align: center;
}

h2{
  margin-top: 100px;
}

img{
  max-width: 100%;
}
/*---------------------------
  header
----------------------------*/
header{
  z-index: 10;
  a{
    color: #fff;
  }
}
/*スマホ*/
.sns-sp{
  ul{
    display: inline-flex;
  }
}

.fa-brands{
  color: #1A1818;
  padding: 14px;
}

.header_inner_SP{
  display: none; /**一時的に非表示*/
  text-align: center;
 .menu{
  margin-top: 85px;
  padding: 0;
  li{
    padding: 0 0 36px 0;
  }
 }
}

/*PC*/
.header_inner_PC{
  //background-color: red;
  width: 100%;
  margin: 0 auto;
  padding: 22px 100px;
  .nav_menu_PC{
    .menu{
      display: flex;
      justify-content: flex-end;
      li{
        margin-left: 40px;
      }
    }
  }
}

/*---------------------------
  hero
----------------------------*/

h1{
  color: #fff;
  display: inline-block;
  font-size: 2.6rem;
  span{
    font-size: 1.2rem;
  }
}

.topPage{
  margin-top: -68px;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(/gallery/gallery_images/image_80.jpg);

}
.title_wrapper{
  position: absolute;
  height: 50px;
  width: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
/*---------------------------
  grid
----------------------------*/
.grid{
  display: grid;
  width: 94vw;
  margin: 0 auto 3vw;
  gap: 2vw;
  //grid-template-columns: repeat(2, 46vw);
  //grid-template-rows: repeat(8, 46vw);
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.grid-item{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/*---------------------------
  footer
----------------------------*/
fotter{
  background-color: #212020;
  text-align: center;
  color: #fff;
  padding: 20px 0;
}