@charset "UTF-8";
/*----------------------
        メディアクエリ
  ---------------------*/
/*---------------------------
  テキストカラー
----------------------------*/
/*コンタクトフォーム*/
/*---------------------------
  共通
----------------------------*/
* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: #262222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.6rem;
  font-family: noto-sans-cjk-jp,sans-serif;
  font-weight: 300;
  font-style: normal;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow-x: hidden;
}

ul {
  padding-left: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #262222;
}

section {
  text-align: center;
  scroll-snap-align: start;
}

h1, h2, h3 {
  font-family: museo-slab, serif;
  font-weight: 500;
  font-style: normal;
}

h2 {
  position: relative;
  display: inline-block;
  margin-top: 100px;
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 60px;
  padding-bottom: 10px;
}

h2::after {
  position: absolute;
  content: "";
  width: 70%;
  height: 2px;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translate(-50%);
  /*位置調整*/
  background-color: #E2E2E2;
  /*下線の色*/
}

h3 {
  display: inline-block;
}

img {
  max-width: 100%;
}

.siteWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

/*---------------------------
  header
----------------------------*/
header {
  z-index: 10;
}

header a {
  color: #fff;
  letter-spacing: 0.3rem;
}

/*スマホ*/
.sns-sp ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.fa-brands {
  color: #1A1818;
  padding: 14px;
}

.header_inner_SP {
  display: none;
  /**一時的に非表示*/
  text-align: center;
}

.header_inner_SP .menu {
  margin-top: 85px;
  padding: 0;
}

.header_inner_SP .menu li {
  padding: 0 0 36px 0;
}

/*PC*/
.header_inner_PC {
  font-family: museo-slab, serif;
  font-weight: 500;
  font-style: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 22px 100px;
}

.header_inner_PC.top {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header_inner_PC .nav_menu_PC .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header_inner_PC .nav_menu_PC .menu li {
  margin-left: 40px;
}

.header_inner_PC .nav_menu_PC .menu li a {
  display: inline-block;
  position: relative;
}

.header_inner_PC .nav_menu_PC .menu li a:hover {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.header_inner_PC .nav_menu_PC .menu li a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0px;
  background-color: #E2E2E2;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform-origin: left top;
          transform-origin: left top;
}

.logo_sub {
  font-size: 1.2rem;
}

/*---------------------------
  hero
----------------------------*/
.topPage {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.topPage .hero {
  position: fixed;
  z-index: -1;
  margin-top: -68px;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(/gallery/gallery_images/image_80.jpg);
}

.title_wrapper {
  position: absolute;
  top: 42%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 5;
}

.title_wrapper h1 {
  color: #fff;
  display: inline-block;
  font-size: 2.2rem;
  font-family: museo-slab, serif;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.7rem;
  text-align: left;
}

.title_wrapper h1 span {
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  padding-bottom: 4px;
  display: inline-block;
}

/*中段メニュー*/
.sub-title_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sub-title_wrapper .middle {
  background-color: #fff;
}

/*ピタッと止める*/
/*---------------------------
  grid
----------------------------*/
.content {
  position: relative;
  z-index: 10;
  background-color: #fff;
  padding-bottom: 1px;
}

.grid {
  display: -ms-grid;
  display: grid;
  width: 94vw;
  margin: 0 auto 3vw;
  gap: 2vw;
  -ms-grid-columns: (minmax(240px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.grid img {
  width: 100%;
  height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.grid-item {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

/*---------------------------
  footer
----------------------------*/
fotter {
  background-color: #212020;
  text-align: center;
  color: #fff;
  padding: 20px 0;
}

/*---------------------------
下層ページ
----------------------------*/
/*メニュー*/
.subpage_header a {
  color: #262222;
}

/*about*/
.area_wrapper {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 905px;
}

.profile-are {
  min-height: 500px;
  position: relative;
}

.profile-are .profile_img {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  max-width: 520px;
  -webkit-box-shadow: -5px 5px #D2CACA;
          box-shadow: -5px 5px #D2CACA;
}

.profile-are .profile {
  position: absolute;
  top: 110px;
  left: 0;
  display: inline-block;
  padding: 58px;
  text-align: left;
  max-width: 475px;
  background-color: #fff;
  -webkit-box-shadow: -5px 5px #D2CACA;
          box-shadow: -5px 5px #D2CACA;
  line-height: 1.6;
}

.profile-are .profile::after {
  content: url(/assets/images/about_logo.svg);
  position: absolute;
  left: 0%;
  top: -50px;
  width: 223px;
}

.insta_wrapper {
  max-width: 814px;
  margin: 0 auto 46px;
}

/*-----------------------------
        コンタクトフォーム
------------------------------*/
.contact__inner {
  margin-bottom: 48px;
}

.form {
  width: 500px;
  padding: 8px 10px;
  margin: 0 auto;
}

@media (min-width: 375px) {
  .form {
    max-width: 90vw;
  }
}

.form .btn_submit {
  width: 120px;
  height: 38px;
  color: #fff;
  background-color: #2f51c2;
  font-weight: 800;
  font-size: 1.6rem;
  border: none;
  margin-top: 20px;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.form .btn_submit:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (min-width: 375px) {
  .form .btn_submit {
    font-size: 1.5rem;
  }
}

.input-field {
  background-color: #fff;
  text-align: left;
  margin-bottom: 16px;
}

.input-field label {
  padding-left: 5px;
  font-size: 1.3rem;
}

.input-field label span {
  font-weight: bold;
}

.input-field input, .input-field textarea {
  width: 100%;
  margin-top: 4px;
  padding: 10px;
  background-color: #E6E6E6;
  margin-top: 8px;
  border-radius: 4px;
  border: none;
}

.btn_submit {
  font-size: 3rem;
}
/*# sourceMappingURL=style.css.map */