@charset "UTF-8";

/*----------------------
        メディアクエリ
  ---------------------*/
$pc: 980px; // PC
$tab: 680px; // タブレット
$sp: 375px;  // スマホ

@mixin pc {
  @media (min-width: ($pc)) {
    @content;
  }
}

@mixin tab {
  @media (min-width: ($tab)) {
    @content;
  }
}

@mixin sp {
  @media (min-width: ($sp)) {
    @content;
  }
}
/*---------------------------
  テキストカラー
----------------------------*/
$text : #262222;

/*---------------------------
  共通
----------------------------*/
*{
  margin: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  color: $text;
  display: flex;
  font-size: 1.6rem;
  font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
  flex-direction: column;
}
main{
  flex: 1;
  overflow-x: hidden;
}

ul{
  padding-left: 0;
  li{
    list-style: none;
  }
}
a{
  text-decoration: none;
  color: $text;
}

section{
  text-align: center;
  scroll-snap-align: start;
}

h2{
  position: relative;
  display: inline-block;
  margin-top: 100px;
  font-weight: 400;
  margin-bottom: 36px;
  padding-bottom: 10px;
  &::after{
    position: absolute;
    content: "";
    width: 70%;
    height: 2px;
    bottom: 0px;
    left: 50%;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translate(-50%); /*位置調整*/
    background-color: #E2E2E2; /*下線の色*/
  }
}

img{
  max-width: 100%;
}
.siteWrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/*---------------------------
  header
----------------------------*/
header{
  z-index: 10;
  a{
    color: #fff;
    letter-spacing: 0.3rem;
  }
}
/*スマホ*/
.sns-sp{
  ul{
    display: inline-flex;
  }
}

.fa-brands{
  color: #1A1818;
  padding: 14px;
}

.header_inner_SP{
  display: none; /**一時的に非表示*/
  text-align: center;
 .menu{
  margin-top: 85px;
  padding: 0;
  li{
    padding: 0 0 36px 0;
  }
 }
}

/*PC*/
.header_inner_PC{
  //background-color: red;
  width: 100%;
  margin: 0 auto;
  padding: 22px 100px;
  .nav_menu_PC{
    .menu{
      display: flex;
      justify-content: flex-end;
      li{
        margin-left: 40px;
      }
    }
  }
}

/*---------------------------
  hero
----------------------------*/

.topPage{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  .hero{
    position: fixed;
    z-index: -1;
    margin-top: -68px;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(/gallery/gallery_images/image_80.jpg);
  }
}
.title_wrapper{
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 5;
  h1{
    color: #fff;
    display: inline-block;
    font-size: 2.2rem;
    font-weight: 400;
    letter-spacing: 0.7rem;
    text-align: left;
    span{
      font-size: 1.2rem;
      letter-spacing: 0.2rem;    padding-bottom: 4px;
      display: inline-block;
    }
  }
}
/*ピタッと止める*/
.content{

}

/*---------------------------
  grid
----------------------------*/
.content{
  position: relative;
  z-index: 10;
  background-color: #fff;
  padding: 2px;
}
.grid{
  display: grid;
  width: 94vw;
  margin: 0 auto 3vw;
  gap: 2vw;
  //grid-template-columns: repeat(2, 46vw);
  //grid-template-rows: repeat(8, 46vw);
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.grid-item{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/*---------------------------
  footer
----------------------------*/
fotter{
  background-color: #212020;
  text-align: center;
  color: #fff;
  padding: 20px 0;
}


/*---------------------------
仮想ページ
----------------------------*/
/*メニュー*/
.subpage_header{
  a{
    color: $text;
  }
}
/*about*/

.content_wrapper{
  // max-width: 1300px;
}
.profile-are{
  max-width: 1300px;
  height: 500px;
  margin: 0 auto;
  position: relative;
  .profile_img{
    position: absolute;
    top: 0;
    right: 140px;
    display: inline-block;
    max-width: 568px;
    box-shadow: -5px 5px #D2CACA;
  }
  .profile{
    &::after{
      content:url(/assets/images/about_logo.svg);
      position:absolute;
      left: 0%;
      top: -50px;
      width: 223px;
    }
    position: absolute;
    top: 110px;
    left: 234px;
    display: inline-block;
    padding: 58px 62px;
    text-align: left;
    max-width: 475px;
    background-color: #fff;
    P{
      width: 352px;
    }
    box-shadow: -5px 5px #D2CACA;
  }
}
